=#javascript_include_tag "/assets/store/datepicker.js?body=1"

:javascript
  function formattedDate(date){
  return (date.getFullYear()+'-'+(date.getMonth()+1)+'-'+date.getDate())
  }  

=hidden_field_tag("product_id",@product.id)

-#%div  
.middleSectionHotelRight
  -product_available_date = calender_date_format(@product)
  =hidden_field_tag "data_price",product_available_date.to_json
- if @product.is_hotel_listing? || @product.is_flash_sale?
  = form_for :order, :url => populate_f2r_orders_path do |f|
    = f.hidden_field :check_in_date
    = f.hidden_field :check_out_date
    = f.hidden_field :room_type_id
    = f.hidden_field :f2r_id, :value => (@product.room_inventory.first.id if @product.room_inventory.first)
    = f.hidden_field :product_id, :value => (@product.id)          
    .middleSectionHotelRightDetails
      -#(please click on the dates to select)
      %h1 Trip Plan
      .date_range{:id => "date_range", :data => { :f2rid => 7 } }

      - unless @product.is_coupon?    
        .tripSummaryDetails
          %p
            Checkin
            %div.textRight
              %span#check_in_hotel.small{:style=>"cursor:pointer"}       
                %img{:src => "../assets/icon_calander.png"}        
              %div#check_in_calendar      
          %p{:style=>"width:53% !important"} 
            Checkout
            %div.textRight.value
              %span#check_out_hotel.small{:style=>"cursor:pointer"} 
                %img{:src => "../assets/icon_calander.png"}        
              %div#check_out_calendar      
             
       
        %br    
        .tripSummaryDetails
          %p.wth50 Rooms
          = f.hidden_field :number_days,:id=>"number_days"
          -# = f.hidden_field :room_available, :id=>"room_available"        
          =f.select :qty,[1,2,3,4], {}, { :class=>"btnHotel dropdown-toggle" }
          -#= f.text_field :qty, :placeholder => "number of rooms", :min => "1", :value => "1", :class => "qty_field", :maxlength => 2      
          %p.wth50 Guests
          =select_tag "people", "<option>1</option><option>2</option><option>3</option><option>4</option>".html_safe,:class=>"btnHotel dropdown-toggle",:style=>"margin-right: 5px;"  
          
          .clear
        .tripSummaryDetails
          #room_type.room_name{:style=>"display:none"}
        %br
        .tripSummaryDetails
          %span#no_room_alert{:style=>"display:none"}=""          
          -#%br
          %p.total Grand Total
          -#%label.hi="Sub Total="
          -#%span#show_subtotal="$0.00"
          %p.textRight.price#show_subtotal="Rs.0.0"
          .clear
            %br           
        = f.submit :value => "Book Your Trip", :class => 'makePayment martop10', :id=>"bookbtn", :disabled=>true,:style=>"cursor:pointer"       






  
//%h4 Old Cart form, for verification.
= form_for :order, :url => populate_orders_path do |f| 
  .middleSectionHotelRightDetails#inside-product-cart-form{"data-hook" => "inside_product_cart_form", :itemprop => "offers", :itemscope => "", :itemtype => "http://schema.org/Offer"}
    - if @product.has_variants? && @product.is_coupon?
      #product-variants.tripSummaryDetails.columns.five.alpha
        %h1 Coupon Plan                
        - has_checked = false
        - @product.variants.active.each_with_index do |v,index|
        - next if v.option_values.empty? || (!v.in_stock && !Spree::Config[:show_zero_stock_products]) || v.date_passed?
        - checked = !has_checked && (v.in_stock || Spree::Config[:allow_backorders])
        - has_checked = true if checked            
          .roomDet
            = radio_button_tag "products[#{@product.id}]", v.id, checked, :disabled => !v.in_stock && !Spree::Config[:allow_backorders],:class=>"coupon_cart_rb roomDet",:data=>{:on_hand=>v.count_on_hand}
            -# %label{:for => ['products', @product.id, v.id].join('_') }
              -# = v.availability_map.to_yaml
            %span.roomType.variant-description
              = v.option_values[0].name rescue ''
              - unless v.product.is_coupon?
                = v.option_values[0].presentation rescue ''
            %h2.roomTypePrice= (number_to_currency v.price)+"/ Night"
            =hidden_field_tag 'price_coupon',v.price,:id=>"price_coupon_#{v.id}",:name=>""
            %p.roomTypeDetails
              =v.coupon_description
              %br
              = v.f2r_available_on.strftime('%d %b, %Y') rescue ''
            %a.details{:href => "#"} Details
            .clear
            -# - if variant_price_diff v                      
    - if @product.price && @product.is_coupon?     
      .columns.five.if.alpha.else.omega{:class => "<haml:silent> !@product.has_variants? </haml:silent><haml:block> </haml:block><haml:silent> </haml:silent><haml:block> </haml:block>", "data-hook" => "product_price"}        
      - if @product.price > 0
        #product-price{:style=>"display:none"}
          %h6.product-section-title= t(:price)
          %div
            %span.price.webRupee.selling{:itemprop => "price",:id=>"price_qty_coupon"}= number_to_currency @product.price
        
        
        - if @product.has_stock? || Spree::Config[:allow_backorders]
          -#%br
          -#%span.small (Please select the quantity)
          -#%br
          / = number_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"), |
          /   1,:style=>"width:40px;", :id=>"number_coupon",:class => 'title', :in => 1..@product.on_hand, :min => 1 ,:maxlength => 2 
          .add-to-cart.tripSummaryDetails
            %p.wth50  Coupon
            =f.select (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"),[1,2,3,4], {}, { :class=>"btnHotel dropdown-toggle" }
            %br
            %span#no_room_alert{:style=>"display:none"}=""
            .clear
          .tripSummaryDetails
            %p.total Grand Total
            %p.textRight.price#show_subtotal="$0.00"
            .clear
          = button_tag :class => 'btn makePayment martop10', :id => 'add-to-cart-button ', :type => :submit do
            = "Book Your Trip"
          .clear
        - else
          = content_tag('strong', t(:out_of_stock))
