// HEADER
%header
  %article
    .headerLinks
      .twBs.fl
        %a.twitter-share-button{"data-count" => "none", "data-lang" => "en", "data-related" => "jasoncosta", "data-size" => "small", :href => "https://twitter.com/share"} Tweet
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");  
      .fbBs.fl
        %iframe{:allowtransparency => "true", :frameborder => "0", :scrolling => "no", :src => "https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fyoutuktuk&send=false&layout=button_count&width=80&show_faces=true&font&colorscheme=light&action=like&height=21", :style => "border:none; overflow:hidden; width:80px; height:21px;;float:right;"}
      .connecting.fl
        %img.fl{:src => "../assets/phone_no.png"}/
        %p.fl Tel : 1.877.999.0680
        %img.fl{:src => "../assets/messg_icon.png"}/
        %img.fl{:src => "../assets/chat_icon.png"}/
      
        %ul.fl
          - unless @current_user
            %li
              %a{:href => "/user/sign_up"} Signup
            %li /
            %li
              %a{:href => "/user/sign_in"} Login
          - else
            %li
              = link_to "#{@current_user.email}", "/account"
              | 
            %li
              = link_to "logout", destroy_user_session_path
      .clear
    .clear
.section    
  .head_section
    .headerSection
      %article
        .fl.logo
          %a.mrtop7{:href => "/"}
            = image_tag "logo.png"
        .middleNav.fl
          %ul
            %li{:id=>"nav_sales", :class=>"#{@current == 'products' ? 'active' : ''}"}
              %a{:href=>"/sales"} Sales
            %li{:id=>"nav_destinations", :class => "#{@current == 'destinations' ? 'active' : ''}"}
              %a{:href=> destinations_path} Destinations
            - ['Tours', 'Inspiration'].each_with_index do |el, i|
              %li{:id=>"nav_#{el.downcase}"}
                %a{:href=>"/#{el.downcase}"}= el
        .search.fr
          #search
            = form_tag products_path, :method => :get do
              = text_field_tag "search", params[:keywords], :placeholder=>"Enter Destination / Hotel Name", :name => "keywords"
          %a{:href => "#"}
        .clear

      
