%div{"data-hook" => "admin_image_form_fields"}
  %tr{"data-hook" => "file"}
    %td
      = t(:filename)
      \:
    %td= f.file_field :attachment
  %tr{"data-hook" => "variant"}
    %td
      = Spree::Variant.model_name.human
      \:
    %td= f.select :viewable_id, @variants
  %tr{"data-hook" => "alt_text"}
    %td
      = t(:alt_text)
      \:
    %td= f.text_area :alt