-# NOTE p is mostly the variant here now.

%h1= params[:pt] rescue ''
- @products ||= grppd 
=# @products
- @products.each do |p|
  %a.product_row{:href=>product_path(p)}
    .hotelListImage.product_image
      = image_tag p.images[0].attachment.url(:product), :width=>"287px", :height=>"174px" rescue ''
  .hotelListDetail
    %h2= p.name.titleize
    .star_rating= pretty_star_rating p.star_rating rescue ''
    %h3.location= p.city + ", " + p.country.truncate(30)   rescue ''
    %p
      .overview= BlueCloth.new(p.description).to_html.html_safe.truncate(140) 
      %span{:href => "#"} View Details...
    .fareDetails
      %h4= number_to_currency p.striked_price rescue ''
      %h5.price= number_to_currency p.starting_price
      .clear
      %p.avgNight Avg  /  Night
      %a.book{:href => "#"} BOOK
      .clear
  .clear
.box{:style => "display: none;"}